ul {
    list-style: none ; 
    padding-left: 0;
  }
  * {
    box-sizing: border-box; /*box-sizing est appliqué à tous les éléments */
    margin:0;
   }
   body{
      font-family: Raleway, Open sans, Arial, Helvetica, sans-serif;  /* Roboto aussi utilisable */
      font-size: 1em;
   }
   .box {
      box-sizing: border-box;  /* Opera/IE 8+ */
      -moz-box-sizing: border-box; /* Firefox, autres Gecko */
      -webkit-box-sizing: border-box;  /* Safari/Chrome, autres WebKit */
   }
   img{
    width: 100%;
 }
 .titre{
     display:flex;
     justify-content: center;
     font-size:30px;
     font-weight: bold;
     font-style: italic;
 }
 .localisation{
     display:flex;
     justify-content: center;
     padding-bottom:50px;
 }
 .reservation{
     text-align: center;
     flex-wrap:wrap;
     display:flex;
     justify-content: center;
     padding-bottom:50px;
 }
 .grandcontenrestau{
    display:flex;
    flex-wrap:wrap;
    width: 95%;
    border-radius: 20px;
    margin-left:2%;
    padding-top:2%;
 
 }
 .titreentrées,.titredessert,.titreplats{
    padding-top:15px;
   margin-left:20px;
    display:flex;
    flex-wrap:wrap;


 }
 .grandblockchoixrestau{
    border: 1px solid red;
    border-radius: 20px 20px 0 0;
    padding:10px;
 }
 .entrées, .plats, .dessert{
    display:flex;
    flex-wrap:wrap;
   margin-left:10px;
   margin-right:20px;
   gap:20px;

 }
 .entrées1,.plats1,.dessert1{
    padding-left:20px;
   width:100%;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 30px;
}
 .conteneurrestau{
    display:flex;
    margin-left:2%;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    border-radius: 20px;
    padding-bottom:50px;
 
 }
 .boutonexplorer{
    margin-top:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border: 2px solid plum;
    background-color: plum;
    padding:10px;
    border-radius: 50px;
    color:white;
 }
 .elementrestau{
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
      width: 100%; 
      border-radius: 30px;
   
   }
   .encadre{
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;      border: 2px solid whitesmoke;
      margin-bottom: 20px; 
      width: 100%; 
      border-radius: 30px;
      padding:15px;
      padding-left:40px;
      padding-right:40px;
   }
   .titrefonc{
      margin-bottom:15px;
      text-align: center;
      width:100%;
   }
   .texterestau{
    padding-top:10px; 
 }
 .grandfonctionnement{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
 }
 .divtxt{
    font-weight: bold;
    font-size: large;
 } 
 .divtxt,.div2txt{
    margin-left:15px;
    margin-bottom:10px;
 } 
   .dimimg{ 
    padding: 2%;
    height: 150px;
    object-fit: cover;
    border-radius:30px 30px 0 0;
 }
 .just{
    margin-left:5%;
    font-weight: bold;
    font-size:20px;
 }
 .grandfoot{
    padding-left:25px;
    background-color: rgba(0, 0, 0, 0.753);
    color:white;
 }

 .titrefoot{
    margin-bottom:15px;
    padding-top:10px;
    font-weight: bold;
    font-style: italic;
 }
 .footinfo{
    display:flex;
    flex-wrap:wrap;
    gap:5px;
 }
 .widthfoot{
    width:100%;
 }


